
/* BAT DAU TU DAY LA PHAN EDIT NHE */

/* Universal Styles */

html {
    font-size: 2vmin; /* Alternate size 16px */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    /* display: block; */
}

main, footer {
    position: relative;
    top: 4.5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}


.newspaper-container{
    display: flex;
    flex-direction: row;
    border: 1px solid;
}
.newspaper-item{
    width: 30%;
    height: fit-content;
    width: fit-content;
    padding: 16px;
}
/*image*/
.newspaper-image{
    height: auto;
    width: 65%;
}
.left-image{
    max-width: 100%;
}
.title-newspaper{
    font-size: large;
}
/*image*/
.button {
    padding: 1rem 0;
    background-color: #505050;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
    box-shadow: 5px 5px 20px darkslategrey;
    transition: all 0.5s ease-in 0.1s;
}


h1 {
    font-size: 6vmin; /* Alternate size 3.125rem */
    font-weight: 800;
    margin-bottom: 2rem;
}

h2 {
    font-size: 5vmin; /* Alternate size 2.625rem */
    font-weight: 800;
}

h3 {
    font-size: 3vmin; /* Alternate size 1.75rem */
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Chu thay doi mau khi click vao link */
a:hover {
    color: rgb(77, 139, 141);
    font-size: 110%;
}

/* Header */

header {
    position: fixed;
    /* z-index: 1; */
    width: 100%;
    height: 4.5rem;
    background-color: white;
    font-size: 1.25rem;
    /* line-height: 4.5rem; */
    overflow: hidden;
    opacity: 0.8;
}

header .left {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1.5rem;
}

header .right {
    margin-right: 1.5rem;
}
/* Menu tren man hinh desktop */
header li {
    display: inline-block;
    margin-left: 1rem;
}

header .left a:hover {
    color: #505050;
}

header span {
    color: gray;
}

.desktop img {
    height: 4rem;
    width: auto;
    vertical-align: middle;
}

header .mobile {
    display: none;
}

.container-total{
    display: flex;
    flex-direction: row;
}

.container-left{
    width: 50%;
    overflow: hidden;
    margin: 32px 24px 32px 24px;
}
.left-img{
    box-shadow: 5px 5px 20px darkslategrey;
    width: 100%;
}

@media only screen and (max-width: 650px) {

    /*chỉnh item màn hình mobile */
    header .desktop {
        display: none;
    }
    
    /*chỉnh item màn hình mobile */
    header .mobile {
        display: block;
        width: 100%;
        height: 4.5rem;
    }

    header li {
        margin: 0px;
        margin-left: 50px;
    }

    header .mobile img {
        height: 3.5rem;
        width: auto;
        vertical-align: middle;
    }
}

/* Banner */

#banner {
    display: flex; /* de banner co the co gian theo man hinh*/
    background-color: lightgray;
} 

#banner-image {
    width: 60%; /*hinh anh chi chiem 50% man hinh*/
    /* margin: 2rem; */
    margin: 32px 24px 32px 24px;
}
 .container-right {
    width: 40%;
    padding-top: 2%;
    margin-left: 48px;
}

h3 {
    margin-bottom: 2.5rem;
    line-height: 1.5;
}

/* a{
    text-decoration: none;
    color: white;
} */

.newspaper-item a{
    color: black;
}

.newspaper-item a:hover{
    color: rgb(77, 139, 141);
}

#content{
    background-color: rgb(200, 198, 198);
    border: 1px solid;
}

.course-tittle{
    text-align: center;
}

.course-content{
    display: flex;
    text-align: center;
    margin-top: 32px;
    padding-left: 72px;
    padding-right: 72px;
}

.content-element{
    /* border: 1px solid; */
    margin-right: 32px;
    background: white; 
    border: 1px solid;
    flex-basis: 30%;

}

.course-software-img img{
    width: 50%;
}

.course-computer-art-img img{
    width: 50%;
}

.course-design-img img{
    width: 50%;
}

.text{
    background: white;
    border: 1px solid;

}


.content-element img{
    width: 100%
}


@media only screen and (max-width: 1125px) {

    #banner-image {
        width: 70%;
    }
}

@media only screen and (max-width: 1000px) {

    #banner-image {
        min-width: 90%;
    }

    #banner {
        flex-flow: column;
    }

    #banner .container-right {
        width: 70%;
        padding: 0 1rem 2rem;
    }

    .button {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) {

    #banner-image {
        width: 100%;
        margin: auto;
    }

    #banner .container-right {
        padding: 2rem 0;
    }

}

